body {
    height: 100%;
    width: 100%;
    margin:0
}

.tous-les-resto {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}
.titre {
    margin-left: 4px;
}
.titre-menu {
    align-self: center;
    font-size: 20px;
}
.prix {
    float: right;
}
h4 {
    font-size: 14px;
    font-weight: normal;
}