body{
background-color:#cccccc;
}
.tous-les-resto{
    color:#663300;
    
}
.nom-resto-enchantee{
    align-self: center;
}
.titre{
   width:270px;
    height:50px;
    margin-top: 20px;    
    font-size: 39px;
    margin-bottom: 20px;
}
.titre-bas{
    margin-bottom:5px;
    margin-top:10px;
}


