.nom-resto-palette{
    width:320px;
    margin-top: 20px;
    align-self: center;    
    margin-bottom: 20px;
    font-size:39px;    
    background: -webkit-gradient(linear, left top, right top, from(#00cc00), to(#ccff66));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}