.nom-resto-francaise{
     width:360px;
    margin-top: 20px;
    align-self: center;    
    margin-bottom: 20px;
    font-size:39px;    
    background: -webkit-gradient(linear, left top, right top, from(#FF9933), to(#663399));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titre-entree-francaise{
    align-self: center;
    font-size:20px;
    color:#FF9933;
}
.detail-entree-francaise{
    color:#FF9933;
}
.titre-plat-francaise{
    color:#CC66FF;
    align-self: center;
    font-size:20px;
}
.detail-plat-francaise{
    color:#CC66FF;
}
.titre-dessert-francaise{
    color:#6600CC;
    align-self: center;
    font-size:20px;
}
.detail-dessert-francaise{
    color:#6600cc;
}