.nom-resto-papilles{
    align-self: center;       
    background: -webkit-gradient(linear, left top, right top, from(#0033CC), to(#0099FF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titre{
     width:290px;
    margin-top: 20px;        
    margin-bottom: 20px;
    font-size:39px;
}
