html {
    height: 100%;
    width: 100%;
}

.oh-my-food {
    height: 100%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.enchantee,
.palette,
.delice,
.francaise {
    height: 200px;
    width: 39%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    border: 1px black solid;

}

.enchantee,
.delice {
    margin-bottom: 40px;
    margin-right: 10px;
}

.palette,
.francaise {
    margin-bottom: 40px;
    margin-left: 10px;
}
