html {
    background-color: #baaaaa;
    height: 100%;
    width: 100%;
}

.oh-my-food {
    height: 100%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.enchantee,
.palette,
.delice,
.francaise {
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    border: 1px black solid;     
    justify-content: center;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.lien-menus{
    text-decoration:none;
}





