footer {
    position: fixed;    
    display: flex;
    flex-direction: row;    
    left: 49%;
    top: 110%;
    margin-top: -100px;
    margin-left: -19%;
    bottom: 0px;
    width: 40%;
    height: 3%;
    background-color:#37d337 ;
    justify-content: space-between;    
    
}

.footer1 {
    color: yellow;
    text-align: left;
    margin-left: 5px;

}

.footer2 {
    color: yellow;
    text-align: right;
    margin-right: 5px;
}
@media (max-width: 650px) {
    footer{
        width:70%;
        left:35%
    }
}



