header{
	background-color: #37d337;
	width:40%;
	height:5%;
    align-items: center;
    margin-top: 0px;
    margin:0 auto;
        
}
.boite-header{
	color:yellow;
	text-align: center;		
}
@media (max-width: 650px) {
    header{
        width:80%;
    }
}
